body{
    font-family: "华文细黑";
    background:url("../res/images/timg.jpg") no-repeat;
    background-size: 100%;
}


.admin{
    /*background:#fff;*/
    position: absolute;
    line-height: 0;
    height: 65px;
    width: 100%;
    /*right:0;*/
    /*bottom:0;*/
    top:0;
    left:0;
}