*{ margin:0; padding:0; }

.admin{
    background:#fff;
    position: relative;
    height: 65px;
    /*right:0;*/
    /*bottom:0;*/
    /*top:0;*/
    /*left:0;*/
}
/*
轮播图
*/
img{
    border:0px;
    width: 100%;
}
.full_banner{width:100%;height:680px; background:#FFF; overflow:hidden;} /*position:relative; top:65px;*/
.full_banner .bd{margin:0 auto; position:relative; z-index:0; overflow:hidden;}
.full_banner .bd ul{width:100% !important;}
.full_banner .bd li{width:100% !important; float:left; height:680px; overflow:hidden; text-align:center;}
.full_banner .bd li a{ display:block; height:680px;}
.full_banner .hd{width:100%; position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; text-align:center;}
.full_banner .hd ul{text-align:center; padding-top:5px;}
.full_banner .hd ul li{cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url(../res/images/tg_flash_p.png) -18px 0; overflow:hidden;
    line-height:9999px;
}
.full_banner .hd ul .on{background-position:0px 0px;}